<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
<div class="Category" style="width: 1512px; height: 2820px; margin: auto; position: relative; background: white">
  <div class="Footer" style="width: 1512px; height: 166px; left: 0px; top: 2654px; position: absolute">
    <div class="Rectangle36" style="width: 1512px; height: 166px; left: 0px; top: 0px; position: absolute; background: #3A3A3A"></div>
    <div class="Group106" style="width: 168.18px; height: 23.87px; left: 1236px; top: 79px; position: absolute">
      <div class="IcFacebook" style="width: 24px; height: 22.50px; left: 0px; top: 1.37px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <img class="Vector" src="../data/ic-facebook.png" />
      </div>
      <div class="IcGoogle" style="width: 24px; height: 22.50px; left: 48px; top: 0.98px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <img class="Vector" src="../data/ic-google.png" />
      </div>
      <div class="IcInstagram" style="width: 24px; height: 22.50px; left: 96px; top: 0.59px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <img class="Vector" src="../data/ic-instagram.png" />
      </div>
      <div class="IcTwitter" style="width: 24px; height: 22.50px; left: 144px; top: 0.20px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <img class="Vector" src="../data/ic-twitter.png" />
      </div>
    </div>
    <img class="Rectangle43" style="width: 232.52px; height: 86px; left: 108px; top: 36px; position: absolute" src="../data/logo.png" onclick="window.location.href = 'Home.html';"/>
  </div>
  <div class="Header" style="width: 1296px; height: 97px; left: 117px; top: 90px; position: absolute">
    <img class="Rectangle43" style="width: 232.52px; height: 86px; left: 0px; top: 0px; position: absolute" src="../data/logo.png" onclick="window.location.href = 'Home.html';" />
    <div class="Group150" style="width: 447px; height: 42px; left: 454px; top: 21px; position: absolute">
      <div class="Sale" style="width: 55px; height: 41px; left: 392px; top: 1px; position: absolute; color: #D1AEAC; font-size: 24px; font-family: Vogue; font-weight: 400; line-height: 22px; word-wrap: break-word">sALE</div>
      <div class="Kids" style="width: 50px; height: 41px; left: 305px; top: 1px; position: absolute; color: #007D83; font-size: 24px; font-family: Vogue; font-weight: 400; line-height: 22px; word-wrap: break-word">KIDS</div>
      <div class="Man" style="width: 46px; height: 41px; left: 222px; top: 1px; position: absolute; color: #007D83; font-size: 24px; font-family: Vogue; font-weight: 400; line-height: 22px; word-wrap: break-word">MAN</div>
      <div class="Women" style="width: 82px; height: 41px; left: 103px; top: 1px; position: absolute; color: #007D83; font-size: 24px; font-family: Vogue; font-weight: 400; line-height: 22px; word-wrap: break-word" onclick="window.location.href = 'Category.html';">WOMAN</div>
      <div class="Home" style="width: 66px; height: 41px; left: 0px; top: 1px; position: absolute; color: #007D83; font-size: 24px; font-family: Vogue; font-weight: 400; line-height: 22px; word-wrap: break-word" onclick="window.location.href = 'Home.html';">HOME</div>
    </div>
    <div class="Group151" style="width: 173.41px; height: 26.39px; left: 1111px; top: 47px; position: absolute">
      <div class="BiBucket" style="width: 26.39px; height: 26.39px; left: 95.47px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex" onclick="window.location.href = 'Shopping cart.html';">
        <img class="Vector" src="../data/Cart.png" />
        <div class="Group42" style="width: 11.47px; height: 11.47px; position: relative">
          <div class="Ellipse1" style="width: 11.47px; height: 11.47px; left: 0px; top: 0px; position: absolute; background: #A49FA5; border-radius: 9999px" ></div>
          <div style="width: 3.82px; height: 7.65px; left: 2.68px; top: 0.38px; position: absolute; color: white; font-size: 10px; font-family: Roboto; font-weight: 700; word-wrap: break-word">2</div>
        </div>
      </div>
      <div class="Group41" style="width: 17.21px; height: 22.95px; left: 49.68px; top: 3.10px; position: absolute" onclick="window.location.href = 'Log in.html';">
        <img class="Vector" src="../data/Account.png"/>
      </div>
      <div class="Vector" style="width: 22.83px; height: 21.40px; left: 150.58px; top: 4.66px; position: absolute; ">
        <img class="Vector" src="../data/Wish.png" />
      </div>
      <div class="Vector" style="width: 21px; height: 21px; left: 0px; top: 5.39px; position: absolute; ">
        <img class="Vector" src="../data/Search.png" />
      </div>
    </div>
    <div class="Vector6" style="width: 1296px; height: 0px; left: 0px; top: 0px; position: absolute; border: 0.50px #323334 solid"></div>
    <div class="Vector7" style="width: 1296px; height: 0px; left: 0px; top: 97px; position: absolute; border: 0.50px #323334 solid"></div>
  </div>
  <div class="Filters" style="width: 306px; height: 1449px; left: 117px; top: 275px; position: absolute; background: white; box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07); border-radius: 10px; overflow: hidden">
    <div class="Group47651" style="left: 22px; top: 31px; position: absolute">
      <div class="Filters" style="left: 0px; top: 0px; position: absolute; color: #272727; font-size: 36px; font-family: Libre Baskerville; font-weight: 700; word-wrap: break-word">Filters</div>
      <div class="ClearAll" style="width: 59px; height: 22px; left: 205px; top: 13px; position: absolute; color: #00398F; font-size: 14px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Clear all</div>
    </div>
    <div class="Line14" style="width: 262px; height: 0px; left: 22px; top: 210px; position: absolute; background: #3A3A3A; border: 0.50px #323334 solid"></div>
    <div class="Line15" style="width: 262px; height: 0px; left: 24px; top: 553px; position: absolute; background: #3A3A3A; border: 0.50px #323334 solid"></div>
    <div class="Line16" style="width: 262px; height: 0px; left: 24px; top: 912px; position: absolute; background: #3A3A3A; border: 0.50px #323334 solid"></div>
    <div class="Line17" style="width: 262px; height: 0px; left: 22px; top: 1121px; position: absolute; background: #3A3A3A; border: 0.50px #323334 solid"></div>
    <div class="Tags" style="width: 299px; height: 82px; left: 22px; top: 102px; position: absolute">
      <div class="Tag" style="width: 136px; height: 30px; left: 0px; top: 0px; position: absolute">
        <div class="Rectangle43" style="width: 125px; height: 30px; left: 0px; top: 0px; position: absolute; background: #F0F0F0; border-radius: 8px"></div>
        <div class="Group47620" style="width: 133px; height: 23.05px; left: 3px; top: 4px; position: absolute">
          <div class="Woman" style="width: 111px; height: 22px; left: 22px; top: 1px; position: absolute; color: #272727; font-size: 14px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Woman</div>
          <div class="GridiconsCrossSmall" style="width: 22px; height: 23.05px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div class="Vector" style="width: 10.46px; height: 10.96px; background: #848484"></div>
          </div>
        </div>
      </div>
      <div class="Tag" style="width: 167px; height: 30px; left: 132px; top: 0px; position: absolute">
        <div class="Rectangle43" style="width: 132px; height: 30px; left: 0px; top: 0px; position: absolute; background: #F0F0F0; border-radius: 8px"></div>
        <div class="Group47619" style="width: 164px; height: 22px; left: 3px; top: 4px; position: absolute">
          <div class="Dresses" style="width: 142px; height: 22px; left: 22px; top: 0px; position: absolute; color: #272727; font-size: 14px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Dresses</div>
          <div class="GridiconsCrossSmall" style="width: 22px; height: 22px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div class="Vector" style="width: 10.46px; height: 10.46px; background: #848484"></div>
          </div>
        </div>
      </div>
      <div class="Tag" style="width: 271px; height: 30px; left: 0px; top: 52px; position: absolute">
        <div class="Rectangle42" style="width: 73px; height: 30px; left: 0px; top: 0px; position: absolute; background: #F0F0F0; border-radius: 8px"></div>
        <div class="Group47621" style="width: 186px; height: 24px; left: 4px; top: 4px; position: absolute">
          <div class="Midi" style="width: 164px; height: 22px; left: 22px; top: 2px; position: absolute; color: #272727; font-size: 14px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Midi</div>
          <div class="GridiconsCrossSmall" style="width: 22px; height: 22px; left: 0px; top: 0px; position: absolute">
            <div class="Vector" style="width: 10.46px; height: 10.46px; left: 5.77px; top: 5.77px; position: absolute; background: #848484"></div>
          </div>
        </div>
        <div class="Rectangle42" style="width: 73px; height: 30px; left: 81px; top: 0px; position: absolute; background: #F0F0F0; border-radius: 8px"></div>
        <div class="Group47621" style="width: 186px; height: 24px; left: 85px; top: 4px; position: absolute">
          <div class="Maxi" style="width: 164px; height: 22px; left: 22px; top: 2px; position: absolute; color: #272727; font-size: 14px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Maxi</div>
          <div class="GridiconsCrossSmall" style="width: 22px; height: 22px; left: 0px; top: 0px; position: absolute">
            <div class="Vector" style="width: 10.46px; height: 10.46px; left: 5.77px; top: 5.77px; position: absolute; background: #848484"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="Category" style="width: 265px; height: 291px; left: 22px; top: 236px; position: absolute">
      <div class="Category" style="left: 0px; top: 0px; position: absolute; color: #272727; font-size: 24px; font-family: Libre Baskerville; font-weight: 700; word-wrap: break-word">Category</div>
      <div class="Group47623" style="width: 180px; height: 21px; left: 0px; top: 91px; position: absolute">
        <div class="Short" style="width: 156px; height: 21px; left: 24px; top: 0px; position: absolute; color: #272727; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Short</div>
        <div class="Rectangle45" style="width: 14px; height: 14px; left: 0px; top: 4px; position: absolute; border: 0.50px #848484 solid"></div>
      </div>
      <div class="Group47624" style="width: 221px; height: 22px; left: 0px; top: 128px; position: absolute">
        <div class="Cocktail" style="width: 197px; height: 22px; left: 24px; top: 0px; position: absolute; color: #272727; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Cocktail</div>
        <div class="Rectangle46" style="width: 14px; height: 14px; left: 0px; top: 4px; position: absolute; border: 0.50px #848484 solid"></div>
      </div>
      <div class="Group47625" style="width: 191px; height: 22px; left: 0px; top: 165px; position: absolute">
        <div class="Wedding" style="width: 167px; height: 22px; left: 24px; top: 0px; position: absolute; color: #272727; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Wedding</div>
        <div class="Rectangle47" style="width: 14px; height: 14px; left: 0px; top: 4px; position: absolute; border: 0.50px #848484 solid"></div>
      </div>
      <div class="Group47627" style="width: 134px; height: 22px; left: 0px; top: 238px; position: absolute">
        <div class="Long" style="width: 110px; height: 22px; left: 24px; top: 0px; position: absolute; color: #272727; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Long</div>
        <div class="Rectangle49" style="width: 14px; height: 14px; left: 0px; top: 5px; position: absolute; border: 0.50px #848484 solid"></div>
      </div>
      <div class="Group47622" style="width: 265px; height: 22px; left: 0px; top: 54px; position: absolute">
        <div class="Midi" style="width: 241px; height: 22px; left: 24px; top: 0px; position: absolute; color: #272727; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Midi</div>
        <div class="Group47578" style="width: 14px; height: 14px; left: 0px; top: 4px; position: absolute">
          <div class="Rectangle44" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute; background: #848484; border: 0.50px #848484 solid"></div>
          <div class="TeenyiconsTickSmallSolid" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute">
            <div class="Vector" style="width: 7.20px; height: 5.62px; left: 3.44px; top: 4.38px; position: absolute; background: white"></div>
          </div>
        </div>
      </div>
      <div class="Group47626" style="width: 220px; height: 22px; left: 0px; top: 201px; position: absolute">
        <div class="Maxi" style="width: 196px; height: 22px; left: 24px; top: 0px; position: absolute; color: #272727; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Maxi</div>
        <div class="Group47578" style="width: 14px; height: 14px; left: 0px; top: 5px; position: absolute">
          <div class="Rectangle44" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute; background: #848484; border: 0.50px #848484 solid"></div>
          <div class="TeenyiconsTickSmallSolid" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute">
            <div class="Vector" style="width: 7.20px; height: 5.62px; left: 3.44px; top: 4.38px; position: absolute; background: white"></div>
          </div>
        </div>
      </div>
      <div class="More" style="width: 124px; height: 21px; left: 24px; top: 270px; position: absolute; color: #00398F; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">+ more</div>
    </div>
    <div class="Ratings" style="width: 180px; height: 268px; left: 22px; top: 1147px; position: absolute">
      <div class="Group47649" style="width: 180px; height: 25px; left: 0px; top: 58px; position: absolute">
        <div class="FullStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 24px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="FullStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 57px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="FullStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 90px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="FullStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 123px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="FullStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 156px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="Group47578" style="width: 14px; height: 14px; left: 0px; top: 6px; position: absolute">
          <div class="Rectangle45" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute; border: 0.50px #848484 solid"></div>
          <div class="TeenyiconsTickSmallSolid" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute">
            <div class="Vector" style="width: 7.20px; height: 5.62px; left: 3.44px; top: 4.38px; position: absolute; background: white"></div>
          </div>
        </div>
      </div>
      <div class="Group47649" style="width: 180px; height: 25px; left: 0px; top: 95px; position: absolute">
        <div class="EmptyStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 24px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="FullStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 57px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="FullStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 90px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="FullStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 123px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="FullStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 156px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="Group47578" style="width: 14px; height: 14px; left: 0px; top: 6px; position: absolute">
          <div class="Rectangle45" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute; border: 0.50px #848484 solid"></div>
          <div class="TeenyiconsTickSmallSolid" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute">
            <div class="Vector" style="width: 7.20px; height: 5.62px; left: 3.44px; top: 4.38px; position: absolute; background: white"></div>
          </div>
        </div>
      </div>
      <div class="Group47649" style="width: 180px; height: 25px; left: 0px; top: 132px; position: absolute">
        <div class="EmptyStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 24px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="EmptyStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 57px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="FullStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 90px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="FullStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 123px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="FullStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 156px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="Group47578" style="width: 14px; height: 14px; left: 0px; top: 6px; position: absolute">
          <div class="Rectangle45" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute; border: 0.50px #848484 solid"></div>
          <div class="TeenyiconsTickSmallSolid" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute">
            <div class="Vector" style="width: 7.20px; height: 5.62px; left: 3.44px; top: 4.38px; position: absolute; background: white"></div>
          </div>
        </div>
      </div>
      <div class="Group47649" style="width: 180px; height: 25px; left: 0px; top: 169px; position: absolute">
        <div class="EmptyStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 24px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="EmptyStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 57px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="EmptyStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 90px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="FullStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 123px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="FullStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 156px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="Group47578" style="width: 14px; height: 14px; left: 0px; top: 6px; position: absolute">
          <div class="Rectangle45" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute; border: 0.50px #848484 solid"></div>
          <div class="TeenyiconsTickSmallSolid" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute">
            <div class="Vector" style="width: 7.20px; height: 5.62px; left: 3.44px; top: 4.38px; position: absolute; background: white"></div>
          </div>
        </div>
      </div>
      <div class="Group47649" style="width: 180px; height: 25px; left: 0px; top: 243px; position: absolute">
        <div class="EmptyStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 24px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="EmptyStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 57px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="EmptyStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 90px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="EmptyStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 123px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="EmptyStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 156px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="Group47578" style="width: 14px; height: 14px; left: 0px; top: 6px; position: absolute">
          <div class="Rectangle45" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute; border: 0.50px #848484 solid"></div>
          <div class="TeenyiconsTickSmallSolid" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute">
            <div class="Vector" style="width: 7.20px; height: 5.62px; left: 3.44px; top: 4.38px; position: absolute; background: white"></div>
          </div>
        </div>
      </div>
      <div class="Group47649" style="width: 180px; height: 25px; left: 0px; top: 206px; position: absolute">
        <div class="EmptyStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 24px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="EmptyStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 57px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="EmptyStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 90px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="EmptyStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 123px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="FullStar" style="width: 24px; height: 24px; padding-left: 0.50px; padding-right: 0.50px; padding-top: 1.01px; padding-bottom: 1.01px; left: 156px; top: 1px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div class="Vector" style="width: 23px; height: 21.98px; background: #007D83"></div>
        </div>
        <div class="Group47578" style="width: 14px; height: 14px; left: 0px; top: 6px; position: absolute">
          <div class="Rectangle44" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute; background: #848484; border: 0.50px #848484 solid"></div>
          <div class="TeenyiconsTickSmallSolid" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute">
            <div class="Vector" style="width: 7.20px; height: 5.62px; left: 3.44px; top: 4.38px; position: absolute; background: white"></div>
          </div>
        </div>
      </div>
      <div class="Ratings" style="left: 0px; top: 0px; position: absolute; color: #272727; font-size: 24px; font-family: Libre Baskerville; font-weight: 700; word-wrap: break-word">Ratings</div>
    </div>
    <div class="Color" style="width: 237.92px; height: 157px; left: 25px; top: 938px; position: absolute">
      <div class="Rectangle100" style="width: 26.57px; height: 26.57px; left: 0px; top: 45.89px; position: absolute; background: white; border-radius: 5px; border: 1px rgba(170, 170, 172, 0.60) solid"></div>
      <div class="Rectangle111" style="width: 26.57px; height: 26.57px; left: 0px; top: 88.16px; position: absolute; background: #BB6BD9; border-radius: 5px; border: 1px solid"></div>
      <div class="Rectangle117" style="width: 26.57px; height: 26.57px; left: 0px; top: 130.43px; position: absolute; background: #770505; border-radius: 5px; border: 1px solid"></div>
      <div class="Rectangle101" style="width: 26.57px; height: 26.57px; left: 42.27px; top: 45.89px; position: absolute; background: #323334; border-radius: 5px; border: 1px solid"></div>
      <div class="Rectangle112" style="width: 26.57px; height: 26.57px; left: 42.27px; top: 88.16px; position: absolute; background: #56CCF2; border-radius: 5px; border: 1px solid"></div>
      <div class="Rectangle118" style="width: 26.57px; height: 26.57px; left: 42.27px; top: 130.43px; position: absolute; background: #0A5D8B; border-radius: 5px; border: 1px solid"></div>
      <div class="Rectangle102" style="width: 26.57px; height: 26.57px; left: 84.54px; top: 45.89px; position: absolute; background: #C4C4C4; border-radius: 5px; border: 1px solid"></div>
      <div class="Rectangle113" style="width: 26.57px; height: 26.57px; left: 84.54px; top: 88.16px; position: absolute; background: #6FCF97; border-radius: 5px; border: 1px solid"></div>
      <div class="Rectangle119" style="width: 26.57px; height: 26.57px; left: 84.54px; top: 130.43px; position: absolute; background: #AD5B12; border-radius: 5px; border: 1px solid"></div>
      <div class="Rectangle110" style="width: 26.57px; height: 26.57px; left: 126.81px; top: 45.89px; position: absolute; background: #F2C94C; border-radius: 5px; border: 1px solid"></div>
      <div class="Rectangle114" style="width: 26.57px; height: 26.57px; left: 126.81px; top: 88.16px; position: absolute; background: #219653; border-radius: 5px; border: 1px solid"></div>
      <div class="Rectangle120" style="width: 26.57px; height: 26.57px; left: 126.81px; top: 130.43px; position: absolute; background: #4F0E8B; border-radius: 5px; border: 1px solid"></div>
      <div class="Rectangle103" style="width: 26.57px; height: 26.57px; left: 211.35px; top: 45.89px; position: absolute; background: #EB5757; border-radius: 5px; border: 1px solid"></div>
      <div class="Rectangle115" style="width: 26.57px; height: 26.57px; left: 211.35px; top: 88.16px; position: absolute; background: #DF1313; border-radius: 5px; border: 1px solid"></div>
      <div class="Rectangle121" style="width: 26.57px; height: 26.57px; left: 211.35px; top: 130.43px; position: absolute; background: #156008; border-radius: 5px; border: 1px solid"></div>
      <div class="Rectangle104" style="width: 26.57px; height: 26.57px; left: 169.08px; top: 45.89px; position: absolute; background: #F2994A; border-radius: 5px; border: 1px solid"></div>
      <div class="Rectangle116" style="width: 26.57px; height: 26.57px; left: 169.08px; top: 88.16px; position: absolute; background: #2F80ED; border-radius: 5px; border: 1px solid"></div>
      <div class="Rectangle122" style="width: 26.57px; height: 26.57px; left: 169.08px; top: 130.43px; position: absolute; background: #0A7090; border-radius: 5px; border: 1px solid"></div>
      <div class="Color" style="left: 0px; top: 0px; position: absolute; color: #272727; font-size: 24px; font-family: Libre Baskerville; font-weight: 700; word-wrap: break-word">Color</div>
    </div>
    <div class="Price" style="width: 280px; height: 307px; left: 25px; top: 579px; position: absolute">
      <div class="Price" style="left: 0px; top: 0px; position: absolute; color: #272727; font-size: 24px; font-family: Libre Baskerville; font-weight: 700; word-wrap: break-word">Price</div>
      <div class="Group47634" style="width: 273px; height: 24px; left: 0px; top: 134px; position: absolute">
        <div class="MkdTo1500Mkd" style="width: 244px; height: 24px; left: 29px; top: 0px; position: absolute; color: #272727; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">1000 MKD to 1500 MKD</div>
        <div class="Rectangle44" style="width: 14px; height: 14px; left: 0px; top: 3px; position: absolute; border: 0.50px #848484 solid"></div>
      </div>
      <div class="Group47635" style="width: 280px; height: 24px; left: 0px; top: 212px; position: absolute">
        <div class="MkdTo2500Mkd" style="width: 251px; height: 24px; left: 29px; top: 0px; position: absolute; color: #272727; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">2000 MKD to 2500 MKD</div>
        <div class="Rectangle44" style="width: 14px; height: 14px; left: 0px; top: 4px; position: absolute; border: 0.50px #848484 solid"></div>
      </div>
      <div class="Group47637" style="width: 280px; height: 25px; left: 0px; top: 249px; position: absolute">
        <div class="MkdTo3000Mkd" style="width: 251px; height: 25px; left: 29px; top: 0px; position: absolute; color: #272727; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">2500 MKD to 3000 MKD</div>
        <div class="Rectangle44" style="width: 14px; height: 14px; left: 0px; top: 5px; position: absolute; border: 0.50px #848484 solid"></div>
      </div>
      <div class="Group47636" style="width: 276px; height: 25px; left: 0px; top: 171px; position: absolute">
        <div class="MkdTo2000Mkd" style="width: 247px; height: 25px; left: 29px; top: 0px; position: absolute; color: #272727; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">1500 MKD to 2000 MKD</div>
        <div class="Rectangle44" style="width: 14px; height: 14px; left: 0px; top: 4px; position: absolute; border: 0.50px #848484 solid"></div>
      </div>
      <div class="Group47633" style="width: 265px; height: 25px; left: 0px; top: 93px; position: absolute">
        <div class="MkdTo1000Mkd" style="width: 236px; height: 25px; left: 29px; top: 0px; position: absolute; color: #272727; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">500 MKD to 1000 MKD</div>
        <div class="Group47578" style="width: 14px; height: 14px; left: 0px; top: 5px; position: absolute">
          <div class="Rectangle45" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute; border: 0.50px #848484 solid"></div>
          <div class="TeenyiconsTickSmallSolid" style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute">
            <div class="Vector" style="width: 7.20px; height: 5.62px; left: 3.44px; top: 4.38px; position: absolute; background: white"></div>
          </div>
        </div>
      </div>
      <div class="Group47632" style="width: 209px; height: 22px; left: 0px; top: 56px; position: absolute">
        <div class="MkdTo500Mkd" style="width: 180px; height: 22px; left: 29px; top: 0px; position: absolute; color: #272727; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">0 MKD to 500 MKD</div>
        <div class="Rectangle44" style="width: 14px; height: 14px; left: 0px; top: 3px; position: absolute; border: 0.50px #848484 solid"></div>
      </div>
      <div class="More" style="width: 62px; height: 22px; left: 27px; top: 285px; position: absolute; color: #00398F; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">+ more</div>
    </div>
  </div>
  <div class="Products" style="width: 966px; height: 2296px; left: 447px; top: 275px; position: absolute">
    <img class="Image7" style="width: 306px; height: 459px; left: 0px; top: 0px; position: absolute" src="../data/image%207.png" onclick="window.location.href = 'Single item.html';"  />
    <img class="Image8" style="width: 305px; height: 457px; left: 0px; top: 553px; position: absolute" src="../data/image%208.png" />
    <img class="Image9" style="width: 305px; height: 457px; left: 0px; top: 1106px; position: absolute" src="../data/image%209.png" />
    <img class="Image10" style="width: 305px; height: 458px; left: 0px; top: 1659px; position: absolute" src="../data/image%2010.png" />
    <img class="Image11" style="width: 306px; height: 459px; left: 330px; top: 0px; position: absolute" src="../data/image%2011.png" />
    <img class="Image12" style="width: 305px; height: 457px; left: 330px; top: 553px; position: absolute" src="../data/image%2012.png" />
    <img class="Image13" style="width: 305px; height: 457px; left: 330px; top: 1106px; position: absolute" src="../data/image%2013.png" />
    <img class="Image14" style="width: 305px; height: 458px; left: 330px; top: 1659px; position: absolute" src="../data/image%2014.png" />
    <img class="Image15" style="width: 306px; height: 459px; left: 660px; top: 0px; position: absolute" src="../data/image%2015.png" />
    <img class="Image16" style="width: 305px; height: 457px; left: 660px; top: 553px; position: absolute" src="../data/image%2016.png" />
    <img class="Image17" style="width: 306px; height: 459px; left: 660px; top: 1106px; position: absolute" src="../data/image%2017.png" />
    <img class="Image18" style="width: 306px; height: 459px; left: 660px; top: 1659px; position: absolute" src="../data/image%2018.png" />
    <div class="Group113" style="width: 298px; height: 55px; left: 0px; top: 478px; position: absolute" onclick="window.location.href = 'Single item.html';">
      <div class="AsymmetricLengthDress" style="width: 298px; height: 17px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">ASYMMETRIC LENGTH DRESS</div>
      <div class="29000Mkd" style="width: 131px; height: 25px; left: 0px; top: 30px; position: absolute; color: #323334; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">3,290.00 MKD</div>
    </div>
    <div class="Group146" style="width: 298px; height: 55px; left: 4px; top: 1030px; position: absolute">
      <div class="CutworkPoplinMidiDress" style="width: 298px; height: 17px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">CUTWORK POPLIN MIDI DRESS</div>
      <div class="59000Mkd" style="width: 146px; height: 25px; left: 0px; top: 30px; position: absolute; color: #323334; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">2,590.00 MKD</div>
    </div>
    <div class="Group147" style="width: 229px; height: 55px; left: 0px; top: 1583px; position: absolute">
      <div class="RibbedMidiDress" style="width: 229px; height: 17px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">RIBBED MIDI DRESS</div>
      <div class="29000Mkd" style="width: 127px; height: 25px; left: 0px; top: 30px; position: absolute; color: #323334; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">1,290.00 MKD$<br/></div>
    </div>
    <div class="Group148" style="width: 305px; height: 55px; left: 0px; top: 2138px; position: absolute">
      <div class="LongPrintedPanelledDress" style="width: 305px; height: 17px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">LONG PRINTED PANELLED DRESS</div>
      <div class="29000Mkd" style="width: 139px; height: 25px; left: 0px; top: 30px; position: absolute; color: #323334; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">2,290.00 MKD</div>
    </div>
    <div class="Group149" style="width: 229px; height: 55px; left: 330px; top: 478px; position: absolute">
      <div class="CutOutKnitDress" style="width: 229px; height: 17px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">CUT-OUT KNIT DRESS</div>
      <div class="99000Mkd" style="width: 131px; height: 25px; left: 0px; top: 30px; position: absolute; color: #323334; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">1,990.00 MKD</div>
    </div>
    <div class="Group150" style="width: 305px; height: 55px; left: 330px; top: 1030px; position: absolute">
      <div class="MidiDressWithWovenStraps" style="width: 305px; height: 17px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">MIDI DRESS WITH WOVEN STRAPS</div>
      <div class="29000Mkd" style="width: 140px; height: 25px; left: 0px; top: 30px; position: absolute; color: #323334; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">2,290.00 MKD<br/></div>
    </div>
    <div class="Group151" style="width: 321px; height: 55px; left: 330px; top: 1583px; position: absolute">
      <div class="CutworkEmbroideryDress" style="width: 321px; height: 17px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">CUTWORK EMBROIDERY DRESS</div>
      <div class="59000Mkd" style="width: 114px; height: 25px; left: 0px; top: 30px; position: absolute; color: #323334; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">2,590.00 MKD</div>
    </div>
    <div class="Group152" style="width: 305px; height: 55px; left: 330px; top: 2138px; position: absolute">
      <div class="LinenBlendCocoonDress" style="width: 305px; height: 17px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">LINEN BLEND COCOON DRESS</div>
      <div class="59000Mkd" style="width: 135px; height: 25px; left: 0px; top: 30px; position: absolute; color: #323334; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">2,590.00 MKD<br/></div>
    </div>
    <div class="Group153" style="width: 297px; height: 55px; left: 660px; top: 478px; position: absolute">
      <div class="KnitDressWithCapeSleeves" style="width: 297px; height: 17px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">KNIT DRESS WITH CAPE SLEEVES</div>
      <div class="99000Mkd" style="width: 144px; height: 25px; left: 0px; top: 30px; position: absolute; color: #323334; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">2,990.00 MKD</div>
    </div>
    <div class="Group154" style="width: 229px; height: 55px; left: 660px; top: 1030px; position: absolute">
      <div class="AsymmetricKnitDress" style="width: 229px; height: 17px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">ASYMMETRIC KNIT DRESS</div>
      <div class="59000Mkd" style="width: 152px; height: 25px; left: 0px; top: 30px; position: absolute; color: #323334; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">1,590.00 MKD<br/></div>
    </div>
    <div class="Group155" style="width: 229px; height: 55px; left: 660px; top: 1583px; position: absolute">
      <div class="ShirtDressWithBelt" style="width: 229px; height: 17px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">SHIRT DRESS WITH BELT</div>
      <div class="29000Mkd" style="width: 138px; height: 25px; left: 0px; top: 30px; position: absolute; color: #323334; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">3,290.00 MKD</div>
    </div>
    <div class="Group156" style="width: 229px; height: 55px; left: 660px; top: 2136px; position: absolute">
      <div class="LongKnitDress" style="width: 229px; height: 17px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">LONG KNIT DRESS</div>
      <div class="59000Mkd" style="width: 123px; height: 25px; left: 0px; top: 30px; position: absolute; color: #323334; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">2,590.00 MKD</div>
    </div>
    <div class="Group135" style="width: 371px; height: 51px; left: 297px; top: 2245px; position: absolute">
      <div class="Rectangle79" style="width: 371px; height: 51px; left: 0px; top: 0px; position: absolute; background: #3A3A3A"></div>
      <div class="LoadMoreProducts" style="left: 98px; top: 16px; position: absolute; color: white; font-size: 16px; font-family: Roboto; font-weight: 700; text-transform: uppercase; word-wrap: break-word">load more products</div>
    </div>
  </div>
</div>
</body>
</html>


