<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>
<body>
<div class="Checkout" style="width: 1512px; height: 1155px; margin: auto; position: relative; background: white">
  <div class="Footer" style="width: 1512px; height: 166px; left: 0px; top: 989px; position: absolute">
    <div class="Rectangle36" style="width: 1512px; height: 166px; left: 0px; top: 0px; position: absolute; background: #3A3A3A"></div>
    <div class="Group106" style="width: 168.18px; height: 23.87px; left: 1236px; top: 79px; position: absolute">
      <div class="IcFacebook" style="width: 24px; height: 22.50px; left: 0px; top: 1.37px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <img class="Vector" src="../data/ic-facebook.png" />
      </div>
      <div class="IcGoogle" style="width: 24px; height: 22.50px; left: 48px; top: 0.98px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <img class="Vector" src="../data/ic-google.png" />
      </div>
      <div class="IcInstagram" style="width: 24px; height: 22.50px; left: 96px; top: 0.59px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <img class="Vector" src="../data/ic-instagram.png" />
      </div>
      <div class="IcTwitter" style="width: 24px; height: 22.50px; left: 144px; top: 0.20px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <img class="Vector" src="../data/ic-twitter.png" />
      </div>
    </div>
    <img class="Rectangle43" style="width: 232.52px; height: 86px; left: 108px; top: 36px; position: absolute" src="../data/logo.png" onclick="window.location.href = 'Home.html';"/>
  </div>
    <div class="Header" style="width: 1296px; height: 97px; left: 117px; top: 90px; position: absolute">
    <img class="Rectangle43" style="width: 232.52px; height: 86px; left: 0px; top: 0px; position: absolute" src="../data/logo.png" onclick="window.location.href = 'Home.html';"/>
    <div class="Group150" style="width: 447px; height: 42px; left: 454px; top: 21px; position: absolute">
      <div class="Sale" style="width: 55px; height: 41px; left: 392px; top: 1px; position: absolute; color: #D1AEAC; font-size: 24px; font-family: Vogue; font-weight: 400; line-height: 22px; word-wrap: break-word">sALE</div>
      <div class="Kids" style="width: 50px; height: 41px; left: 305px; top: 1px; position: absolute; color: #007D83; font-size: 24px; font-family: Vogue; font-weight: 400; line-height: 22px; word-wrap: break-word">KIDS</div>
      <div class="Man" style="width: 46px; height: 41px; left: 222px; top: 1px; position: absolute; color: #007D83; font-size: 24px; font-family: Vogue; font-weight: 400; line-height: 22px; word-wrap: break-word">MAN</div>
      <div class="Women" style="width: 82px; height: 41px; left: 103px; top: 1px; position: absolute; color: #007D83; font-size: 24px; font-family: Vogue; font-weight: 400; line-height: 22px; word-wrap: break-word" onclick="window.location.href = 'Category.html';">WOMAN</div>
      <div class="Home" style="width: 66px; height: 41px; left: 0px; top: 1px; position: absolute; color: #007D83; font-size: 24px; font-family: Vogue; font-weight: 400; line-height: 22px; word-wrap: break-word" onclick="window.location.href = 'Home.html';">HOME</div>
    </div>
    <div class="Group151" style="width: 173.41px; height: 26.39px; left: 1111px; top: 47px; position: absolute">
      <div class="BiBucket" style="width: 26.39px; height: 26.39px; left: 95.47px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex" onclick="window.location.href = 'Shopping cart.html';">
        <img class="Vector" src="../data/Cart.png" />
        <div class="Group42" style="width: 11.47px; height: 11.47px; position: relative">
          <div class="Ellipse1" style="width: 11.47px; height: 11.47px; left: 0px; top: 0px; position: absolute; background: #A49FA5; border-radius: 9999px" ></div>
          <div style="width: 3.82px; height: 7.65px; left: 2.68px; top: 0.38px; position: absolute; color: white; font-size: 10px; font-family: Roboto; font-weight: 700; word-wrap: break-word">2</div>
        </div>
      </div>
      <div class="Group41" style="width: 17.21px; height: 22.95px; left: 49.68px; top: 3.10px; position: absolute" onclick="window.location.href = 'Log in.html';">
        <img class="Vector" src="../data/Account.png"/>
      </div>
      <div class="Vector" style="width: 22.83px; height: 21.40px; left: 150.58px; top: 4.66px; position: absolute; ">
        <img class="Vector" src="../data/Wish.png" />
      </div>
      <div class="Vector" style="width: 21px; height: 21px; left: 0px; top: 5.39px; position: absolute; ">
        <img class="Vector" src="../data/Search.png" />
      </div>
    </div>
    <div class="Vector6" style="width: 1296px; height: 0px; left: 0px; top: 0px; position: absolute; border: 0.50px #323334 solid"></div>
    <div class="Vector7" style="width: 1296px; height: 0px; left: 0px; top: 97px; position: absolute; border: 0.50px #323334 solid"></div>
  </div>
  <div class="Vector20" style="width: 703px; height: 0px; left: 124px; top: 770px; position: absolute; border: 0.50px #323334 solid"></div>
  <div class="ShoppingBag" style="width: 246px; height: 33px; left: 639px; top: 218px; position: absolute; color: #323334; font-size: 34px; font-family: Roboto; font-weight: 500; text-transform: uppercase; word-wrap: break-word">Shopping bag</div>
  <div class="OversizedLinenShirt" style="width: 367px; height: 16px; left: 272px; top: 311px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">OVERSIZED LINEN SHIRT</div>
  <div class="AsymmetricLengthDress" style="width: 289px; height: 16px; left: 272px; top: 536px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">ASYMMETRIC LENGTH DRESS</div>
  <div class="Total" style="width: 60px; height: 16px; left: 767px; top: 740px; position: absolute; color: #323334; font-size: 18px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Total</div>
  <div class="99000Mkd" style="width: 143px; height: 25px; left: 272px; top: 344px; position: absolute; color: #323334; font-size: 18px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">1,990.00 MKD</div>
  <div class="29000Mkd" style="width: 196px; height: 25px; left: 272px; top: 569px; position: absolute; color: #323334; font-size: 18px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">3,290.00 MKD</div>
  <div class="28000Mkd" style="width: 133px; height: 17px; left: 695px; top: 782px; position: absolute; color: #323334; font-size: 18px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">5,280.00 MKD</div>
  <div class="Group202" style="width: 31px; height: 31px; left: 272px; top: 460px; position: absolute">
    <div class="Vector" style="width: 12.43px; height: 11.66px; left: 9.57px; top: 9.46px; position: absolute; background: #323334"></div>
    <div class="Rectangle94" style="width: 31px; height: 31px; left: 0px; top: 0px; position: absolute; border: 0.50px #323334 solid"></div>
  </div>
  <div class="Group202" style="width: 31px; height: 31px; left: 272px; top: 685px; position: absolute">
    <div class="Vector" style="width: 12.43px; height: 11.66px; left: 9.57px; top: 9.46px; position: absolute; background: #323334"></div>
    <div class="Rectangle94" style="width: 31px; height: 31px; left: 0px; top: 0px; position: absolute; border: 0.50px #323334 solid"></div>
  </div>
  <div class="Rectangle94" style="width: 77px; height: 31px; left: 309px; top: 460px; position: absolute; border: 0.50px rgba(0, 0, 0, 0.30) solid"></div>
  <div class="Rectangle94" style="width: 77px; height: 31px; left: 309px; top: 685px; position: absolute; border: 0.50px rgba(0, 0, 0, 0.30) solid"></div>
  <div class="Vector18" style="width: 9px; height: 4px; left: 370px; top: 474px; position: absolute; border: 0.50px #323334 solid"></div>
  <div class="Vector19" style="width: 9px; height: 4px; left: 370px; top: 699px; position: absolute; border: 0.50px #323334 solid"></div>
  <div style="left: 320px; top: 468px; position: absolute; color: #323334; font-size: 14px; font-family: Roboto; font-weight: 300; word-wrap: break-word">1</div>
  <div style="left: 320px; top: 693px; position: absolute; color: #323334; font-size: 14px; font-family: Roboto; font-weight: 300; word-wrap: break-word">1</div>
  <img class="Image21" style="width: 128px; height: 192px; left: 124px; top: 536px; position: absolute" src="../data/image%2021.png" />
  <img class="Image27" style="width: 127px; height: 192px; left: 124px; top: 311px; position: absolute" src="../data/image%2027.png" />
  <div class="Group230" style="width: 16.32px; height: 16.32px; left: 811px; top: 315px; position: absolute">
    <div class="Vector21" style="width: 16.32px; height: 16.32px; left: 0px; top: 0px; position: absolute; border: 0.50px #323334 solid"></div>
    <div class="Vector22" style="width: 16.32px; height: 16.32px; left: 16.32px; top: 0px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 0.50px #323334 solid"></div>
  </div>
  <div class="Group231" style="width: 16.32px; height: 16.32px; left: 811px; top: 532px; position: absolute">
    <div class="Vector21" style="width: 16.32px; height: 16.32px; left: 0px; top: 0px; position: absolute; border: 0.50px #323334 solid"></div>
    <div class="Vector22" style="width: 16.32px; height: 16.32px; left: 16.32px; top: 0px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 0.50px #323334 solid"></div>
  </div>
  <div class="Frame3409" style="height: 597.83px; padding-top: 20px; padding-bottom: 40px; padding-left: 30px; padding-right: 30px; left: 884px; top: 293px; position: absolute; background: #F2F1F0; box-shadow: 0px 2px 10px rgba(184.55, 166.27, 189.13, 0.10); border-radius: 6px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
    <div class="Frame3411" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 30px; display: flex">
      <div class="Payment" style="color: #383838; font-size: 20px; font-family: Poppins; font-weight: 500; text-transform: capitalize; word-wrap: break-word">payment</div>
      <div class="Frame3421" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: flex">
        <div class="Frame3411" style="justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
          <div class="Checkbox" style="justify-content: flex-start; align-items: baseline; gap: 10px; display: flex">
            <div class="Group1" style="width: 18px; height: 18px; position: relative">
              <div class="Rectangle1" style="width: 18px; height: 18px; left: 0px; top: 0px; position: absolute; background: #383838; border-radius: 38.50px"></div>
              <div class="Ellipse1" style="width: 6px; height: 6px; left: 6px; top: 6px; position: absolute; background: white; border-radius: 9999px"></div>
            </div>
          </div>
          <div class="CreditCard" style="color: #383838; font-size: 16px; font-family: Poppins; font-weight: 400; text-transform: capitalize; word-wrap: break-word">Credit card</div>
          <div class="Group" style="width: 10.29px; height: 6.36px; position: relative">
            <div class="Group" style="width: 10.29px; height: 6.36px; left: 0px; top: 0px; position: absolute"></div>
            <div class="Vector" style="width: 6.94px; height: 0.90px; left: 2.55px; top: 11.37px; position: absolute; background: white"></div>
          </div>
          <div class="Group" style="width: 38px; height: 11.40px; position: relative">
            <img src="../data/Group.png"/>

          </div>
          <div class="Group" style="width: 38px; height: 11.40px; position: relative">
            <img src="../data/Group%20(1).png">
          </div>
        </div>

        <div class="Frame3412" style="justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
          <div class="Checkbox" style="width: 19px; height: 19px; justify-content: flex-start; align-items: baseline; gap: 10px; display: inline-flex">
            <div class="Rectangle1" style="width: 18px; height: 18px; background: white; border-radius: 38.50px; border: 0.50px #B0A6BD solid"></div>
          </div>
          <div class="Paypal" style="width: 97px; height: 19px; position: relative">
            <div class="Group" style="width: 89.29px; height: 18px; left: -0.10px; top: 0.71px; position: absolute">
              <div class="Group" style="width: 63.80px; height: 17px; left: 25.50px; top: 0.81px; position: absolute">
                <img src="../data/PayPal.png">
              </div>
              <div class="Group" style="width: 15.50px; height: 18px; left: 0px; top: 0px; position: absolute">


              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Frame3414" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: flex">
        <div class="Input" style="width: 537px; padding: 10px; background: white; border-radius: 4px; border: 0.50px #DFE1E3 solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
          <div class="FirstName" style="flex: 1 1 0; color: #B0A6BD; font-size: 16px; font-family: Poppins; font-weight: 400; text-transform: capitalize; word-wrap: break-word">Card number</div>
        </div>
        <div class="Input" style="width: 537px; padding: 10px; background: white; border-radius: 4px; border: 0.50px #DFE1E3 solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
          <div class="FirstName" style="flex: 1 1 0; color: #B0A6BD; font-size: 16px; font-family: Poppins; font-weight: 400; text-transform: capitalize; word-wrap: break-word">card name</div>
        </div>
        <div class="Frame3416" style="width: 537px; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex">
          <div class="Input" style="height: 44px; padding: 10px; background: white; border-radius: 4px; border: 0.50px #DFE1E3 solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div class="FirstName" style="flex: 1 1 0; color: #B0A6BD; font-size: 16px; font-family: Poppins; font-weight: 400; text-transform: capitalize; word-wrap: break-word">expiration date (MM/YY)</div>
          </div>
          <div class="Input" style="height: 44px; padding: 10px; background: white; border-radius: 4px; border: 0.50px #DFE1E3 solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div class="FirstName" style="flex: 1 1 0; color: #B0A6BD; font-size: 16px; font-family: Poppins; font-weight: 400; text-transform: capitalize; word-wrap: break-word">Security code</div>
          </div>
        </div>
      </div>
    </div>
    <div class="Group207" style="width: 569.58px; height: 78.83px; position: relative">
      <div class="OrderValueShipping" style="width: 152.32px; height: 64px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 16px; word-wrap: break-word">Order value:<br/>Shipping:<br/> </div>
      <div class="Total" style="width: 83.91px; height: 11px; left: 0px; top: 66px; position: absolute; color: #323334; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 16px; word-wrap: break-word">Total</div>
      <div class="58000Mkd" style="width: 144.58px; height: 13.83px; left: 425px; top: 65px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">5,580.00 MKD</div>
      <div class="28000Mkd30000Mkd" style="width: 157px; height: 55px; left: 382px; top: 5px; position: absolute; text-align: right"><span style="color: #323334; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">5,280.00 MKD<br/>300.00 MKD<br/></span><span style="color: #323334; font-size: 14px; font-family: Roboto; font-weight: 500; word-wrap: break-word"> </span></div>
    </div>
    <div class="Group208" style="width: 153px; height: 54px; position: relative">
      <div class="Rectangle84" style="width: 153px; height: 54px; left: 0px; top: 0px; position: absolute; background: #323334"></div>
      <div class="Pay" style="left: 65px; top: 19px; position: absolute; color: white; font-size: 14px; font-family: Roboto; font-weight: 700; text-transform: uppercase; line-height: 16px; word-wrap: break-word">pay</div>
    </div>
  </div>
</div>
</body>
</html>