<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single Item</title>
</head>
<body>
<div class="SingleItem" style="width: 1512px; height: 2820px; margin: auto; position: relative; background: white">
  <div class="Footer" style="width: 1512px; height: 166px; left: 0px; top: 2654px; position: absolute">
    <div class="Rectangle36" style="width: 1512px; height: 166px; left: 0px; top: 0px; position: absolute; background: #3A3A3A"></div>
    <div class="Group106" style="width: 168.18px; height: 23.87px; left: 1236px; top: 79px; position: absolute">
      <div class="IcFacebook" style="width: 24px; height: 22.50px; left: 0px; top: 1.37px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <img class="Vector" src="../data/ic-facebook.png" />
      </div>
      <div class="IcGoogle" style="width: 24px; height: 22.50px; left: 48px; top: 0.98px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <img class="Vector" src="../data/ic-google.png" />
      </div>
      <div class="IcInstagram" style="width: 24px; height: 22.50px; left: 96px; top: 0.59px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <img class="Vector" src="../data/ic-instagram.png" />
      </div>
      <div class="IcTwitter" style="width: 24px; height: 22.50px; left: 144px; top: 0.20px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <img class="Vector" src="../data/ic-twitter.png" />
      </div>
    </div>
    <img class="Rectangle43" style="width: 232.52px; height: 86px; left: 108px; top: 36px; position: absolute" src="../data/logo.png" onclick="window.location.href = 'Home.html';"/>
  </div>
  <div class="Header" style="width: 1296px; height: 97px; left: 117px; top: 90px; position: absolute">
    <img class="Rectangle43" style="width: 232.52px; height: 86px; left: 0px; top: 0px; position: absolute" src="../data/logo.png" onclick="window.location.href = 'Home.html';" />
    <div class="Group150" style="width: 447px; height: 42px; left: 454px; top: 21px; position: absolute">
      <div class="Sale" style="width: 55px; height: 41px; left: 392px; top: 1px; position: absolute; color: #D1AEAC; font-size: 24px; font-family: Vogue; font-weight: 400; line-height: 22px; word-wrap: break-word">sALE</div>
      <div class="Kids" style="width: 50px; height: 41px; left: 305px; top: 1px; position: absolute; color: #007D83; font-size: 24px; font-family: Vogue; font-weight: 400; line-height: 22px; word-wrap: break-word">KIDS</div>
      <div class="Man" style="width: 46px; height: 41px; left: 222px; top: 1px; position: absolute; color: #007D83; font-size: 24px; font-family: Vogue; font-weight: 400; line-height: 22px; word-wrap: break-word">MAN</div>
      <div class="Women" style="width: 82px; height: 41px; left: 103px; top: 1px; position: absolute; color: #007D83; font-size: 24px; font-family: Vogue; font-weight: 400; line-height: 22px; word-wrap: break-word" onclick="window.location.href = 'Category.html';">WOMAN</div>
      <div class="Home" style="width: 66px; height: 41px; left: 0px; top: 1px; position: absolute; color: #007D83; font-size: 24px; font-family: Vogue; font-weight: 400; line-height: 22px; word-wrap: break-word" onclick="window.location.href = 'Home.html';">HOME</div>
    </div>
    <div class="Group151" style="width: 173.41px; height: 26.39px; left: 1111px; top: 47px; position: absolute">
      <div class="BiBucket" style="width: 26.39px; height: 26.39px; left: 95.47px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex" onclick="window.location.href = 'Shopping cart.html';">
        <img class="Vector" src="../data/Cart.png" />
        <div class="Group42" style="width: 11.47px; height: 11.47px; position: relative">
          <div class="Ellipse1" style="width: 11.47px; height: 11.47px; left: 0px; top: 0px; position: absolute; background: #A49FA5; border-radius: 9999px" ></div>
          <div style="width: 3.82px; height: 7.65px; left: 2.68px; top: 0.38px; position: absolute; color: white; font-size: 10px; font-family: Roboto; font-weight: 700; word-wrap: break-word">2</div>
        </div>
      </div>
      <div class="Group41" style="width: 17.21px; height: 22.95px; left: 49.68px; top: 3.10px; position: absolute" onclick="window.location.href = 'Log in.html';">
        <img class="Vector" src="../data/Account.png"/>
      </div>
      <div class="Vector" style="width: 22.83px; height: 21.40px; left: 150.58px; top: 4.66px; position: absolute; ">
        <img class="Vector" src="../data/Wish.png" />
      </div>
      <div class="Vector" style="width: 21px; height: 21px; left: 0px; top: 5.39px; position: absolute; ">
        <img class="Vector" src="../data/Search.png" />
      </div>
    </div>
    <div class="Vector6" style="width: 1296px; height: 0px; left: 0px; top: 0px; position: absolute; border: 0.50px #323334 solid"></div>
    <div class="Vector7" style="width: 1296px; height: 0px; left: 0px; top: 97px; position: absolute; border: 0.50px #323334 solid"></div>
  </div>
    <img class="Image20" style="width: 381px; height: 572px; left: 557px; top: 281px; position: absolute" src="../data/image%2020.png" />
  <img class="Image19" style="width: 381px; height: 572px; left: 117px; top: 281px; position: absolute" src="../data/image%2019.png" />
  <div class="AsymmetricLengthDress" style="width: 429px; height: 65px; left: 997px; top: 281px; position: absolute; color: #323334; font-size: 28px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">ASYMMETRIC LENGTH DRESS<br/></div>
  <div class="29000Mkd" style="width: 179px; height: 25px; left: 997px; top: 324px; position: absolute; color: #323334; font-size: 24px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">3,290.00 MKD</div>
  <div class="Rectangle79" style="width: 416px; height: 54px; left: 997px; top: 603px; position: absolute; border: 0.50px #323334 solid"></div>
  <div class="Group47658" style="width: 416px; height: 54px; left: 997px; top: 670px; position: absolute">
    <div class="Rectangle84" style="width: 416px; height: 54px; left: 0px; top: 0px; position: absolute; background: #3A3A3A"></div>
    <div class="AddToShoppingBag" style="left: 120px; top: 18px; position: absolute; color: white; font-size: 16px; font-family: Roboto; font-weight: 700; text-transform: uppercase; word-wrap: break-word" onclick="window.location.href = 'Shopping cart.html';">Add to shopping bag</div>
  </div>
  <div class="SelectSize" style="left: 1020px; top: 621px; position: absolute"><span style="color: #323334; font-size: 16px; font-family: Roboto; font-weight: 400; text-transform: uppercase; word-wrap: break-word">s</span><span style="color: #323334; font-size: 16px; font-family: Roboto; font-weight: 400; text-transform: capitalize; word-wrap: break-word">elect size</span></div>
  <div class="Vector10" style="width: 12px; height: 6px; left: 1372px; top: 627px; position: absolute; border: 0.50px black solid"></div>
  <div class="Group217" style="width: 821px; height: 309px; left: 117px; top: 1615px; position: absolute">
    <div class="Rectangle86" style="width: 821px; height: 309px; left: 0px; top: 0px; position: absolute; opacity: 0.40; background: #F0EFED"></div>
    <div class="Composition" style="width: 690px; height: 239px; left: 59px; top: 35px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 300; word-wrap: break-word">COMPOSITION<br/>We work with monitoring programmes to ensure compliance with our social, environmental and health and safety standards for our garments.To assess compliance, we have developed a programme of audits and continuous improvement plans.<br/>OUTER SHELL<br/>100% cotton<br/>CARE<br/></div>
    <img class="Image23" style="width: 30.69px; height: 32px; left: 103.58px; top: 230px; position: absolute" src="../data/image%2023.png" />
    <img class="Image22" style="width: 30.69px; height: 32px; left: 58.51px; top: 230px; position: absolute" src="../data/image%2022.png" />
    <img class="Image24" style="width: 30.69px; height: 32px; left: 148.66px; top: 230px; position: absolute" src="../data/image%2024.png" />
    <img class="Image25" style="width: 30.69px; height: 32px; left: 193.74px; top: 230px; position: absolute" src="../data/image%2025.png" />
    <img class="Image26" style="width: 30.69px; height: 32px; left: 238.82px; top: 230px; position: absolute" src="../data/image%2026.png" />
  </div>
  <div class="Group216" style="width: 1420px; height: 602px; left: 53px; top: 1960px; position: absolute">
    <div class="Vector12" style="width: 43px; height: 22px; left: 1398px; top: 341px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 0.50px #323334 solid"></div>
    <div class="Vector13" style="width: 43px; height: 22px; left: 22px; top: 298px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px #323334 solid"></div>
    <div class="AlsoYouMayLike" style="left: 67px; top: 0px; position: absolute; color: #323334; font-size: 24px; font-family: Roboto; font-weight: 500; word-wrap: break-word">Also You May Like</div>
    <div class="Group141" style="width: 1298px; height: 534px; left: 55px; top: 68px; position: absolute">
      <img class="Image10" style="width: 305px; height: 458px; left: 0px; top: 0px; position: absolute" src="../data/image%2010.png" />
      <img class="Image14" style="width: 305px; height: 458px; left: 330px; top: 0px; position: absolute" src="../data/image%2014.png" />
      <img class="Image17" style="width: 306px; height: 459px; left: 992px; top: 0px; position: absolute" src="../data/image%2017.png" />
      <img class="Image18" style="width: 306px; height: 459px; left: 660px; top: 0px; position: absolute" src="../data/image%2018.png" />
      <div class="Group148" style="width: 305px; height: 55px; left: 0px; top: 479px; position: absolute">
        <div class="LongPrintedPanelledDress" style="width: 305px; height: 17px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">LONG PRINTED PANELLED DRESS</div>
        <div class="29000Mkd" style="width: 139px; height: 25px; left: 0px; top: 30px; position: absolute; color: #323334; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">2,290.00 MKD</div>
      </div>
      <div class="Group152" style="width: 305px; height: 55px; left: 330px; top: 479px; position: absolute">
        <div class="LinenBlendCocoonDress" style="width: 305px; height: 17px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">LINEN BLEND COCOON DRESS</div>
        <div class="59000Mkd" style="width: 135px; height: 25px; left: 0px; top: 30px; position: absolute; color: #323334; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">2,590.00 MKD<br/></div>
      </div>
      <div class="Group156" style="width: 229px; height: 55px; left: 660px; top: 477px; position: absolute">
        <div class="LongKnitDress" style="width: 229px; height: 17px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">LONG KNIT DRESS</div>
        <div class="59000Mkd" style="width: 123px; height: 25px; left: 0px; top: 30px; position: absolute; color: #323334; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">2,590.00 MKD</div>
      </div>
      <div class="Group155" style="width: 229px; height: 55px; left: 992px; top: 477px; position: absolute">
        <div class="ShirtDressWithBelt" style="width: 229px; height: 17px; left: 0px; top: 0px; position: absolute; color: #323334; font-size: 16px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">SHIRT DRESS WITH BELT</div>
        <div class="29000Mkd" style="width: 138px; height: 25px; left: 0px; top: 30px; position: absolute; color: #323334; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">3,290.00 MKD</div>
      </div>
    </div>
  </div>
  <img class="Image21" style="width: 821px; height: 682px; left: 117px; top: 897px; position: absolute" src="../data/image%2021.png" />
  <div class="LongSleevelessDressWithARoundNecklineSidePocketsBeltInTheSameFabricWithSnapButtonsAsymmetricHemWithASeamlessFinishFrontFasteningWithMetalZip" style="width: 429px; left: 996px; top: 387px; position: absolute; color: #848484; font-size: 20px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Long sleeveless dress with a round neckline. Side pockets. Belt in the same fabric with snap buttons. Asymmetric hem with a seamless finish. Front fastening with metal zip.</div>
</div>
</body>
</html>